.navbar-home {
    border: 1px solid black;
}

.home-title {
    font-size: 17px;
    font-style: italic;
}

.box-home {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid red;
}

.fanz-box {
    width: 400px;
    height: 300px;
    margin-bottom: 100px;
    border-radius: 5px;
    border: 1px solid blue;
}

.fanz-img {
    height: 100%;
    width: 100%;
}

.fanz-title {
    font-size: 1.2rem;
    font-weight: bold;
}