<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editorial Epectacular</title>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <!-- NAVBAR -->
    <div class="container mt-3 navbar-home">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/"><h5>🌠 Editorial Epectacular 🌠</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload"><h5>🎀</h5></a>
            </li>
        </ul>
    </div>

    
    <div class="container mb-4 justify-content-end">
        <a href="" class="btn btn-success mt-4 mb-3">Agregar Fanzine</a>
    </div>
    
    <div class="container box-home">
        <h4>⛧ ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧  ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧</h4>
 
        <% fanzines.forEach(function(fanzine) { %>
            <div class="mt-5 fanz-box">
                <img src="<%= fanzine.imageURL %>" alt="" class="card-img-top fanz-img">
                <div class="mt-2">
                    <div class="my-3">
                        <h5><%- fanzine.title %></h5>
                    </div>
                    <div class="row mt-3">
                        <a href="" class="btn btn-warning mx-3">Editar</a>
                        <form action="" method="post">
                            <button class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>

    </div> 

</body>
</html>